body{
    padding-left: 5%;
    padding-right: 5%;
    background: #252933;
}
h1{
    color: #fefefe;
    font-family: 'Roboto';
}
h2{
    color: #fefefe;
    font-family: 'Roboto';
}
p{
    color: #fefefe;
    font-family: 'Roboto';
}